*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.music-player{
    width: 400px;
    background: #80c4db93;
    padding: 25px 40px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav .circle{
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    line-height: 40px;
    color: #f53192;
    box-shadow: 0 5px 15px rgba(255,26,26,0.22);
}

.song-img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255,26,26,0.22);
    margin-bottom: 20px;
}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color: #333;
    /* margin-bottom: 20px; */
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #f53192;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 15px rgba(255,26,26,0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls div{
    height: 60px;
    width: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255,26,26,0.22);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: white;

}